* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.full-nav {
    position: relative;
}

#background-image {
    width: 100%;
}

.nav-group {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0 80px;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 80px 1fr;
}

.navbar {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
}

.navbar-brand {
    font-size: 22px;
    font-weight: bold;
}

.middle-nav,
.right-nav {
    display: flex;
    align-items: center;
}

.middle-nav {
    justify-content: center;
    font-size: 18px
}

.right-nav {
    justify-content: end;
    font-size: 16px;
}

.nav-link {
    padding: 0 10px;
}

.location-check {
    display: flex;
    justify-content: center;
}

.search-bar {
    background-color: white;
    display: grid;
    grid-template-columns: 257.23px repeat(3, 1fr) 64px;
    grid-template-rows: 1;
    justify-items: center;
    align-items: center;
}

.search-icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button {
    padding: 6px 6px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explorer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.slogan {
    font-size: 58px;
}

.suggestion-nav {
    padding: 0 80px;
    margin: 50px 0;
    height: 170px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 13px;
}

.suggestion-inner {
    display: flex;
    align-items: center;
    gap: 20px;
}

.location-image {
    width: 70px;
    height: 70px;
}

.suggesstion-descriptions {
    display: flex;
    flex-direction: column;
}

.Accomodation,
.Community {
    padding: 0 80px;
    margin: 50px 0;
}

.Accommodation-header {
    font-size: 38px;
}

.Accomodation-Details,
.Experience-Details,
.Community-Details {
    display: flex;
    gap: 13px;
}

.Accomodation-Details-inner,
.Experience-Details-inner,
.Community-Details-inner {
    font-size: 18px;
    min-width: 0;
    min-height: 0;
    /* width: 375px; */
    width: 100%;
    height: auto;
}

.Accomodation-image,
.Experience-image,
.Community-image {
    width: 100%;
    height: auto;
}

.Experience {
    padding: 50px 80px;
}

.Experience-header-top,
.Community-header {
    font-size: 32px;
}

.Experience-header-bottom,
.Experience-under-image-bottom {
    font-size: 14px;
}

.Community-under-image {
    font-size: 16px;
}

.footer {
    padding: 0 80px;
    font-size: 14px;
}

.footer,
.footer-bottom-index {
    border-top: 1px solid #DDDDDD;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    margin: 10px 0;
    gap: 13px;
}

.footer-top-index {
    display: flex;
    flex-direction: column;
    margin: 16px 0;

}

.footer-top-header {
    font-size: 12px;
}

.footer-bottom-index {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 13px;
    padding-top: 5px;
    margin-bottom: 20px;
}

.language-currency,
.all-logo {
    display: flex;
    justify-content: end;
}

.small-logo {
    width: 16px;
    height: 16px;
}